extends ../../../layouts/admin

block head
  title AGS Settings

block neck
  link(rel='stylesheet', href='/views/admin/ags-settings/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/ags-settings/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-xs-12
      div#header
      div#filters
      div#results-table
      div#results-paging

  script(type='text/template', id='tmpl-header')
    div.page-header
      form.form-inline.pull-right
        div.input-group
          input.form-control(name='serviceUrl', type='text', placeholder='service url', value!='')
          input.form-control(name='userIdColumnName', type='text', placeholder='user id column name', value!='')
          button.btn.btn-primary.btn-add(type='button') Add New
      h1 AGS Settings
  script(type='text/template', id='tmpl-results-table')
    table.table.table-striped
      thead
        tr
          th
          th Service URL
          th.stretch User ID Column Name
      tbody#results-rows

  script(type='text/template', id='tmpl-results-row')
    td
      input.btn.btn-default.btn-sm.btn-details(type='button', value='Edit')
    td <%- serviceUrl %>
    td <%- userIdColumnName %>

  script(type='text/template', id='tmpl-results-empty-row')
    tr
      td(colspan='4') no documents matched

  script(type='text/template', id='data-results') !{data.results}