extends ../../../layouts/admin

block head
  title AGS Settings

block neck
  link(rel='stylesheet', href='/views/admin/ags-settings/index.min.css?#{cacheBreaker}')

block feet
  script(src='/views/admin/ags-settings/index.min.js?#{cacheBreaker}')

block body
  h1 AGS Settings